html {
box-sizing: border-box;
color: white;
font-family: 'Bangers', cursive;
font-size: 18px;
font-size: 1.5em;
}


body{
margin: 0;   
background: #333;
}


@media (min-width: 1px) and (max-width: 799px){
    header img{
        height: 60%;
        width: 90%;
        margin-left: 5%;

    }
    /*=============Navigation+==========*/
        nav{
            padding-right: 9%;
            
        }
    nav ul{
        list-style: none;
        height: 100px;

    }
    nav ul li{
        background: #ee3635;
        display: block;
        text-align: center;
        box-shadow: 8px 7px #aaa;
        margin-bottom: 3%;
        padding: 1.2 em;
    }
        li a:link{
        color:white;
        text-decoration: none;
    }
    li a:visited{
        color:white;
    }
    li a:hover{
            text-shadow: 10px 3px #35b0e6;
    }
/*==============Content===============*/
    .wrapper h2:first-child{
        margin:10% 0 -1% 5%;
        
    }
    .wrapper img{
        margin-left: 5%;
        width: 90%;
        height: auto;
        box-shadow: 5px 5px #4d4d4d;
        border-top: 5px solid #aaa;

        
    }
     article p{
        font-size: 18px;
        font-family: "Rockwell", serif;
        padding: 2%;
        margin:0 5%;

    }
    .sidebar{     
        margin-left: 25%;
    }
}

@media (min-width: 800px){

    /*============Hero==============*/    

    .hero section{
    background: url(../Img/Hawke.jpg) no-repeat center;
    background-size: cover;
        height: 425px;

    }
        .hero:first-child{
            height: 100%;
        }

    /*=======Navigation==============*/
    nav ul{

        background-color: #ee3635;
        list-style: none;
       box-shadow: 8px 7px #aaa;
        height: 80px;
        margin: 0;
        font-size: 30px;
        margin-bottom: 10px;
        width: 96%;


    }
    nav ul li{
        float: left;
        Padding: 27px 20px 5px 20px;

    }

    li a:link{
        color:white;
        text-decoration: none;
    }
    li a:visited{
        color:white;
    }
    li a:hover{
            text-shadow: 5px 3px #35b0e6;
    }

    /*===============Content============*/

    .wrapper {
        margin: 0 auto;
        width: 90%;
        background: #4d4d4d;
        z-index: 10;
    }
    .wrapper h2{
        margin-bottom: 0;
    }
    .wrapper img{
    }
    .secondary-content{

        margin: 0 auto;
        padding: 0;
    }
    article img{

        width: 100%;

        border-top: 10px solid #35b0e6;
        margin-top:
    }
    article p{
        font-size: 18px;
        font-family: "Rockwell", serif;
    }
}
/*================Footer=============*/
footer{
height: 30px;
background:#222;
    text-align: center;
    font-size:  .5em;
    padding-top: 10px;
}
footer h4{
    margin:0;
}